{
  "presets": [
    ["latest", {
    	"es2015": true,
    	"es2016": false,
    	"es2017": false,
    	"modules": false
    }],
    ["stage-0"],
    ["react"]
  ],
  "plugins": [
  	["transform-runtime"]
  ]
}
